absl-py==0.7.1
alabaster==0.7.8
asn1crypto==0.24.0
astor==0.7.1
Babel==2.4.0
-e git+https://github.com/BBN-E/d3m-bbn-primitives.git@ec8077fe2584e90be7cacaed0f2b55789d1cc8e1#egg=bbn_primitives
beautifulsoup4==4.7.1
blis==0.2.4
Bottleneck==1.2.1
certifi==2019.3.9
chardet==3.0.4
-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git@28bd535c730fcf47d4b82adf72b89b740f799e2a#egg=common_primitives
cryptography==2.1.4
custom-inherit==2.2.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.7
-e git+https://gitlab.com/datadrivendiscovery/d3m.git@a8af7585fdd85e2218ca88b257bb0ec71adabfb3#egg=d3m
dataclasses==0.6
-e git+https://github.com/NewKnowledge/datacleaning-d3m-wrapper.git@d2666de3de1406adfad4c74f4aacaf52ceccfced#egg=DatacleaningD3MWrapper
datasketch==1.4.5
dateparser==0.7.0
deap==1.2.2
decorator==4.4.0
dill==0.2.9
docker==2.7.0
docker-pycreds==0.4.0
docutils==0.14
-e git+https://github.com/brekelma/dsbox_corex@37a754bbd020169e5811e0c535c16b3ef060aba1#egg=dsbox_corex
-e git+https://github.com/brekelma/dsbox_graphs@873a9827c96b32dbda45b4a319df8c9f04a4446c#egg=dsbox_graphs
-e git+https://github.com/usc-isi-i2/dsbox-primitives@9ffd48258d3f3d7d8d116162b9ed1a01222a014e#egg=dsbox_primitives
-e git+https://github.com/rooshenas/dsbox-spen@f51535529f55f19313c8260947beb9dcb94cab8a#egg=dsbox_spen
Faker==1.0.7
fastai==1.0.51
fastdtw==0.3.2
fastprogress==0.1.21
frozendict==1.2
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
GPUtil==1.3.0
graspy==0.0.2
grpcio==1.20.1
h5py==2.9.0
hdbscan==0.8.18
idna==2.6
imageio==2.3.0
imagesize==0.7.1
isodate==0.6.0
-e git+https://github.com/neurodata/primitives-interfaces.git@e3ed98f67805976577ef4a5aac3dc77ad1252b1e#egg=jhu_primitives
Jinja2==2.10
-e git+https://gitlab.com/datadrivendiscovery/jpl-primitives.git@16e40a6f49ed816f6cc520380ab2912f0d900486#egg=jpl_primitives
jsonpath-ng==1.4.3
jsonschema==2.6.0
julia==0.4.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
langdetect==1.0.7
lapjv==1.2.0
lightgbm==2.2.2
-e git+https://gitlab.com/d3m-perspectalabs-primitives/lupi_primitive.git@41c98ba00d5e8492ba1ed0158fe36cf9ec659db3#egg=lupi_svm
Markdown==3.1
MarkupSafe==1.0
matplotlib==3.1.0
metalearn==0.5.4
multiprocess==0.70.7
murmurhash==1.0.2
mypy-extensions==0.4.1
networkx==2.2
numexpr==2.6.9
numpy==1.15.4
nvidia-ml-py3==7.352.0
opencv-python-headless==3.4.5.20
packaging==19.0
pandas==0.23.4
pathos==0.2.3
patsy==0.5.1
-e git+https://github.com/NewKnowledge/pcafeatures-d3m-wrapper.git@e61e47271324f57f04bb00e4530a0f63aa8fe9eb#egg=PcafeaturesD3MWrapper
Pillow==6.2.0
plac==0.9.6
ply==3.11
pox==0.2.5
ppft==1.6.4.9
preshed==2.0.1
protobuf==3.7.1
psutil==5.6.2
punk==3.0.0
pyarrow==0.13.0
pycrypto==2.6.1
pycurl==7.43.0.2
-e git+https://github.com/cyangcornell/d3m-primitives.git@f9e90b2b83bfea08b47d298223e9bbef7884312a#egg=pyglrm_d3m
Pygments==2.2.0
pygobject==3.26.1
pymc3==3.7
pymongo==3.8.0
pyOpenSSL==17.5.0
pyparsing==2.4.0
pyramid-arima==0.9.0
pyrsistent==0.14.11
python-apt==1.6.3+ubuntu1
python-dateutil==2.8.0
python-prctl==1.7
pytypes==1.0b5
pytz==2018.3
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==5.1
rdflib==4.2.2
redis==3.2.1
regex==2019.6.5
requests==2.19.1
rfc3987==1.3.8
-e git+https://github.com/NewKnowledge/rffeatures-d3m-wrapper.git@07552f0aef0db10676745e841d8fb934bd4c049e#egg=RffeaturesD3MWrapper
roman==2.0.0
rpi-d3m-primitives==0.1.5
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
SecretStorage==2.3.1
Simon==1.2.4
-e git+https://github.com/NewKnowledge/simon-d3m-wrapper.git@574d3f97ff9bb7a670b46ef0185e51e7b4d9df86#egg=SimonD3MWrapper
six==1.11.0
-e git+https://gitlab.com/datadrivendiscovery/sklearn-wrap.git@594f2a84ddd1e8b68fde672f21a746dcda7678e9#egg=sklearn_wrap
Sloth==2.0.6
smmap2==2.0.5
soupsieve==1.9.1
spacy==2.1.4
SPARQLWrapper==1.8.4
Sphinx==1.6.7
sri-d3m==1.4.8
sri-tpot==1.2.2
srsly==0.0.6
statsmodels==0.9.0
stopit==1.1.2
strict-rfc3339==0.7
tensorboard==1.12.2
tensorflow-gpu==1.12.2
termcolor==1.1.0
-e git+https://gitlab.com/datadrivendiscovery/tests-data.git@e6299dfefcdfdc309dac0dc28b9bbf3eb9193cae#egg=test_primitives&subdirectory=primitives
text-unidecode==1.2
tflearn==0.3.2
Theano==1.0.4
thinc==7.0.4
-e git+https://github.com/NewKnowledge/TimeSeries-D3M-Wrappers.git@a4e60264eab737d4d04e8e3f4792fa9067a3d142#egg=TimeSeriesD3MWrappers
torch==1.0.1.post2
torchvision==0.2.1
tqdm==4.32.1
tslearn==0.1.29
typing==3.6.6
typing-inspect==0.3.1
tzlocal==1.5.1
update-checker==0.16
urllib3==1.23
wasabi==0.2.2
webcolors==1.8.1
websocket-client==0.56.0
Werkzeug==0.15.4
wget==3.2
wikidata-wikifier==1.0.0
xgboost==0.81
